@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="media-heading">Welcome to Vehicle Tracking SYSTEM</h1>
</div>

<div class="row">
    <div class="container col-md-12">
        <button class="btn btn-block btn-success" onclick="location.href='@Url.Action("Index", "Promotions")';">Start Promotion</button>
    </div>
</div>